body{
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#listaTareas{
    display: inline-block;
    text-align: left;
    margin-top: 15px;
}
#listaTareas li{
    list-style: none;
    margin: 6px 0;
    display: block;
}
#listaTareas button{
    margin-left: 8px;
}

button{
    background-color: rgb(226, 225, 225);
    color: black;
    padding: 1px 2px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
input{
    border-radius: 5px;
    background-color: aliceblue;
    padding: 1px 2px;
    text-align: center;
}
