/* Margenes generales, reset */
html, body, header, footer, hgroup, nav, article, section, figure figcaption, h1, h2, h3, 
ul, li, body, div, p, img
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline; 
    border: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
}
nav {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
}
html, body {
  height: 100%;
}
/* Flexbox */
header {
    background-color: #5c4033;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    padding: 10px 0;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
nav ul li a:hover {
    color: #f0d9b5;
}

footer {
    margin-top: auto;
    background-color: #3a2716;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    margin-top: auto;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #f0e6d9;
}
.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
.menu {
    padding: 20px;
    text-align: center;
}

.menu h3 {
    margin-bottom: 20px;
}

.item {
    flex: 1 1 calc(33% - 20px);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    min-width: 220px;
    transition: transform 0.3s;
}

.item:hover {
    transform: translateY(-5px);
}

.item h4 {
    margin-bottom: 10px;
    color: #6b4f33;
}

/* Responsividad */
/* Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  header h1 {
    margin-bottom: 10px;
  }

  .menu-items {
    justify-content: center;
  }

  .menu .item {
    flex: 1 1 45%;
  }
}

/* cel */
@media (max-width: 767px) {
  header {
    padding: 15px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .hero {
    padding: 30px 15px;
  }

  .menu {
    padding: 20px;
  }

  .menu-items {
    flex-direction: column;
    align-items: center;
  }

  .menu .item {
    width: 100%;
    max-width: 350px;
  }

  footer {
    font-size: 0.8rem;
  }
}