header {
  background-color: #214780;
  color: white;
  padding: 0.1em;
  overflow: hidden;
  border-bottom: 2px
}
.logo {
  float: left;
  font-size: 1.4em;
  font-weight: bold;
  padding: 0.5em 1em;
}
header nav {
  margin: 0.5em 0em 0.5em 0em;
}
header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header nav li {
  display: inline;
  margin-left: 1.5em;
}
header a {
  color: white;
  text-decoration: none;
  padding: 0.5em 0;
  display: inline-block;
}

#box {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
#railLeft {
  float: left;
  width: 20%;
  padding: 1em;
}
#middle {
  float: right;
  width: 50%;
  padding: 1em;
  
}
aside {
  float: right;
  width: 20%;
  padding: 1em;
}

/* Del css normalillo */
h2 {
  font-size: 1.5rem;
}


/* Del great todo greatoso */
.great {
  background-color: whitesmoke;
  padding: 1em;
  margin-bottom: 1em;
}
.great h3{
  background-color: #8aace0;
  padding: 1em;
}


/* Coso del railLeft */
.alertLeft {
  background-color: blanchedalmond;
  color: gray;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
}
nav.great ul {
  padding: 0;
  margin: 0 0 1em 0;
  background-color: whitesmoke;
  margin-bottom: 1em;
}
nav.great li {
  display: block;
}
nav.great a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #3f6093;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}
#recentMessageList li {
  overflow: hidden;
  margin-bottom: 0.8em;
}
.blockIcon {
  float: left;
  margin-right: 0.5em;
}
#recentMessageList {
    list-style: none;
    padding: 0;
    margin: 0;
}
#recentMessageList li {
    overflow: hidden;
    padding: 8px 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
}
.blockIcon {
    float: left;
    margin-right: 10px;
}
#recentMessageList li p {
  overflow: hidden;
  margin: 0;
  font-size: 0.9em;
  line-height: 1.4;
}

/* Middle */
#middle h2 {
  margin: 0.5em 0 1em 0
}
#middle hr {
  clear: both;
  margin: 1em 0;
}

.breadcrumb {
  font-size: 0.85rem;
  margin: 0.75em;
}
#company {
  float: left;
  width: 45%;
}
#clientInfo {
  float: right;
  width: 45%;
}
#middle table {
  width: 100%;
  border-collapse: collapse;
}
#middle th, #middle td {
  padding: 0.5em;
  vertical-align: top;
}
.SendButton {
  display: inline-block;
  background-color: #214780;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  margin-top: 1em;
}


/* Aside */
#chList {
  list-style: none;
  padding: 0;
  margin: 0;
}
#chList li {
  overflow: hidden;
  margin-bottom: 0.8em;
}
.chNumber {
  float: left;
  font-size: 2em;
  font-weight: bold;
  margin-right: 0.5em;
  color: #3f6093;
}
#sellList {
  list-style: none;
  padding: 0;
  margin: 0;
}
#sellList li {
  overflow: hidden;
  margin-bottom: 1em;
}
.boxBook {
  float: left;
  margin-right: 0.5em;
}
.bookTitle {
  font-size: 0.9em;
}






